* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px #dedddd;
    position: relative;
    z-index: 10;
}

.logo {
    padding-left: 20px;
    width: auto;
    height: 60px;
}

.links {
    padding-right: 20px;
    padding-top: 20px;
}

.links a {
    padding: 10px;
    text-decoration: none;
    color: #382c32;
    border: 10px red;
}

main {
    padding: 100px 200px;
    background-color: lightblue;
}

#banner {
    display: flex;
    justify-content: space-between;
}

#banner img {
    width: 30%;
    height: 300px;
    object-fit: cover;
    padding-right: 50px;
}

.info_banner {
    padding-right: 300px;
}

.info_banner h1 {
    margin-bottom: 40px;
}

footer {
    padding: 50px 200px;
}

footer .logo_footer {
    height: 90px;
    width: auto;
}

footer .row_footer {
    display: flex;
    justify-content: space-between;

}
