* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 40px;
}

.links {
    padding-top: 30px;
}

.links a {
    padding: 20px;
    text-decoration: none;

}