header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 80px;
}

.links a {
    padding: 20px;
    text-decoration: none;

}